{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="text-muted fw-bold mb-4">Ajouter une nouvelle ville</h1>

    {{ form(form) }}
</br>
    <a href="{{ path('list_location') }}">Retour à la liste</a>
{% endblock %}