{# {% extends 'base.html.twig' %} #}

{% block title %}Nouvelle image{% endblock %}

{% block main %}
    <h1>Créer une nouvelle image</h1>

    {{ form(form) }}

    <a href="{{ path('browse_spot') }}">Retour à la liste</a>
{% endblock %}