{% extends 'base.html.twig' %}



{% block main %}
{% block content %}

    <container>
        <row>
            <columns> Bienvenue sur Balance ton Spot {# {{username}} #}</columns>
        </row>
        <columns>   
            <calloutclass='primary'>
            <p> Ne t'en fais pas, ce n'est pas du Mailfishing ;D </p>
            </callout>
        </columns>

{% endblock %}


{% block action %}
<button href="https://www.youtube.com/watch?v=d9qGfyGh0d4" class="alert rounded"> Appuyez sur le bouton </button>

{% endblock %}
{% endblock %}



