{% extends 'base.html.twig' %}

{% block main %}

    <h1 class="text-muted fw-bold mb-4">Ajouter un nouveau spot</h1>

    {{ form(form) }}
</br>
    <a href="{{ path('list') }}">Retour à la liste</a>
{% endblock %}