{% extends 'base.html.twig' %}

{% block title %}Nouveau Spot{% endblock %}

{% block main %}
    <h1>Créer un nouveau spot</h1>

    {{ form(form) }}

    <a href="{{ path('browse_spot') }}">Retour à la liste</a>
{% endblock %}