{% extends 'base.html.twig' %}

{% block main %}
   <h2 class="text-muted fw-bold mb-4">{{ location.name }} </h2>

    <table class="table table-hover mt-4">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ location.name }}</td>
            </tr>
        </tbody>
    </table>

    <td><a href="{{ path('list_location') }}">Retour à la liste</a></td>

   <td><a href="{{ path('edit_location', {'slug': location.slug}) }}">Modifier</a></td>

{% endblock %}