{% extends 'base.html.twig' %}

{% block main %}
    <h2 class="text-muted fw-bold mb-4">Modifier le commentaire n°{{ comment.id }}</h2>
    {{ form(form) }}
    <a href="{{ path('list_comment') }}">Retour à la liste</a>
    <a href="{{ path('remove_comment', {id:comment.id}) }}">Supprimer ce commentaire</a>
{% endblock %}